body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f9f9f9;
    color: #333;
}

body.dark{
    background-color: #2B4570;
    color:white;
}

body.dark .card{
    background-color: #2B4570;
    color:white;
}

body.dark .testimonial-card{
    background-color: #7180AC;
    color:white;
}

body.dark #navbar {
    color: white;
    background-color:#2B4570;

}


body.dark h4 {
    color: lightgray;
    

}



/* Navigation Bar */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background-color: white;
    border-bottom: 1px solid #ddd;
}




body.dark #welcome {
    color: white;
    background-color:#7180AC;

}


body.dark #features {
    color: white ;
    background-color:#7180AC;

}

body.dark #testimonials {
    color: white;
    background-color:#2B4570;

}


body.dark #footer {
    color: white;
    background-color:#7180AC;

}

#logo {
    margin: 0;
}

#nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    align-items: center;
}

body.dark #nav-links a {
    color: white;
    text-decoration:none;
    background-color:#2B4570;

}

#nav-links a {
    text-decoration: none;
    color: #333;
}

#mode {
    padding: 10px;
    border-radius:15px;
}

#mode:hover{
    background-color:#e5edff;
}

/* Welcome */
#welcome {
    padding: 80px 20px;
    text-align: center;
    background-color: #e5edff;
}

/* About Section */
#about {
    padding: 50px 20px;
    margin: 0 auto;
    text-align: center;
}

/* Features Section */
#features {
    padding: 50px 20px;
    background-color: #f0f0f0;
    text-align: center;
}

#card-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    padding: 20px;
    width: 250px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

/* Testimonials Section */
#testimonials {
    padding: 50px 20px;
    background-color: #ffffff;
    text-align: center;
}

#testimonial-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 25px;
    flex-wrap: wrap;
}

.testimonial-card {
    background-color: #f7f7f7;
    padding: 20px;
    width: 260px;
    border-radius: 8px;
    border: 1px solid #ddd;
    text-align: left;
    font-style: italic;
}

.testimonial-card h4 {
    margin-top: 15px;
    font-style: normal;
    color: #555;
}


/* Footer */
#footer {
    padding: 20px;
    text-align: center;
    background-color: #ddd;
    margin-top: 40px;
}